<div class="container">
  <nav>
    <h4>Here are some recent posts:</h4>
    {{#each allPosts as |Posts|}}
      <h3>{{Posts.post_title}}</h3>
      <p>{{Posts.post_body}}</p> 
      <h5>Posted by: {{ Posts.user.user_name }} </h5>
      <p></p>
    {{/each}}
      <div class="form-group">
        <a href='/api/login' class="btn btn-primary" type="button">Log In/Sign Up Here</a>
  </nav>
</div>

