<div class="container">
  <nav>
    <h4>Here are some recent posts:</h4>
    {{#each allPosts as |Posts|}}
      <p>{{Posts.post_title}}</p>
      <p>{{Posts.post_body}} Posted by: {{ Posts.user.user_name }} </p>
      <p></p>
    {{/each}}
    {{! <a href="/login" type="button">Login Here</a> }}
  </nav>
</div>